<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page</title>
</head>
<body>
    <h2>Company Home Page</h2>
    <hr>
    <p>
        Welcome to the Company home page!
    </p>
    <hr>
    <p>
        UserDetails: <span th:text="${principal}"></span>
        <br>
        User: <span th:text="${principal.username}"></span>
        <br>
        Role(s): <span th:text="${principal.authorities}"></span>
    </p>
    <hr>

    <span>
        <p>
            <a th:href="@{/leaders}">LeaderShip Meeting</a>
            (Only for Manager peeps)
        <hr>
        </p>
    </span>

    <span>
        <p>
            <a th:href="@{/systems}">IT Systems Meeting</a>
            (Only for Admin peeps)
        <hr>
        </p>
    </span>
    <hr>

    <form th:action="@{/logout}" method='POST'>
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>