<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
    <style>
        .error{
            color:red;
        }
    </style>
</head>
<body>
    <form action="processForm" method="GET">
        First name: <input type="text" name="firstName" placeholder="What's your first name?" />
        <br> <br>

        Last name (*): <input type="text" name="lastName" placeholder="What's your last name?" />
        <!--        <span style="color: red;">Invalid input tho</span>-->
        <!--        <p th:if="${#fields.hasErrors('customer')}">invalid input</p>-->
        <br> <br>

        Free passes: <input type="number" name="freePasses" placeholder="passes no.">
        <span th:if="${#fields.hasErrors('customer')}" th:errorclass="error" th:errors="*{freePasses}">invalid passes</span>
        <br> <br>

        Postal code: <input type="text" name="postalCode" placeholder="postal code.">
        <span th:if="${#fields.hasErrors('customer')}" th:errorclass="error" th:errors="*{postalCode}">invalid postal code</span>
        <br> <br>

        Course code: <input type="text" name="courseCode" placeholder="course code.">
        <span th:if="${#fields.hasErrors('customer')}" th:errorclass="error" th:errors="*{courseCode}">invalid course code</span>
        <br> <br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>