<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
    <style>
        .error{
            color:red;
        }
    </style>
</head>
<body>
    <form action="processForm" method="GET">
        First name: <input type="text" name="firstName" placeholder="What's your first name?" />
        <br> <br>

        Last name (*): <input type="text" name="lastName" placeholder="What's your last name?" />
<!--        <span style="color: red;">Invalid input tho</span>-->
<!--        <p th:if="${#fields.hasErrors('customer')}">invalid input</p>-->
        <span th:if="${#fields.hasErrors('customer')}" th:errorclass="error" th:errors="*{lastName}">invalid input</span>
        <br> <br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>