<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Save Customer</title>
	<link type="text/css" rel="stylesheet" href="/css/add-customer-style.css">
	<link type="text/css" rel="stylesheet" href="/css/main-style.css">
</head>

<body>
	
	<div id="wrapper">
		<div id="header">
			<h2>CRM - Customer Relationship Manager</h2>
		</div>
	</div>

	<div id="container">
		<h3>Save Customer</h3>
	
		<form action="saveCustomer" th:object="${customer}" method="POST">
		
			<table>
				<tbody>
					<tr>
						<td><label>First name:</label></td>
						<td><input th:field="*{firstName}" /></td>
					</tr>
				
					<tr>
						<td><label>Last name:</label></td>
						<td><input th:field="*{lastName}" /></td>
					</tr>

					<tr>
						<td><label>Email:</label></td>
						<td><input th:field="*{email}" /></td>
					</tr>

					<tr>
						<td><label></label></td>
						<td><input type="submit" value="Save" class="save" /></td>
					</tr>

				
				</tbody>
			</table>
		
		
		</form>
	
		<div style="clear; both;"></div>
		
		<p>
			<a href="/customer/list">Back to List</a>
		</p>
	
	</div>

</body>

</html>










